* {
  box-sizing: border-box;
}

body {
  font-family:"Georgia", Times, serif;
  padding: 10px;
  background: #F5F5DC ;
}

/* Header/Blog Title */
.header {
  padding: 28px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #A2A98B;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #F9D4C5;
  color: black;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Popualaire posts */
.ax {
background-image: url("pop/R.png");
  background-size: 150%;
  background-position: center,left;
  width: 100%;
  padding: 20px;
  font-size;
}
.ax p{
  background-color:rgba(255, 255, 255, 0.5);
  background
  width: 100px;
  text-align: center;
}

.bx {
background-image: url("pop/pexels-klaus-nielsen-6287527.jpg");
  background-size: 150%;
  background-position: center,left;
  width: 100%;
  padding: 20px;
  font-size;
}
.bx p{
  background-color:rgba(255, 255, 255, 0.5);
  background
  width: 100px;
  text-align: center;
}

.cx {
background-image: url("pop/pexels-enginakyurt-1435896.jpg");
  background-size: 150%;
  background-position: center,left;
  width: 100%;
  padding: 20px;
  font-size;
}
.cx p{
  background-color:rgba(255, 255, 255, 0.5);
  background
  width: 100px;
  text-align: center;
}



/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}


.maak {
  display: flex;
  justify-content: center;
  align-items: center;
}

.maak a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; 
  height: 50px; 
  background-color: #A2A98B; 
  color: white; 
  text-decoration: none;
  font-size: 16px; 
  border-radius: 5px; 
}

.maak a:hover {
  background-color:#F9D4C5 ;
  color:black;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
